.game-board {
    width: @game-board-dimension;
    height: @game-board-dimension;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: @game-board-border-radius;
    opacity: 1;
    transition: opacity @normal-animation-duration ease-in-out;
}

.game-board-block {
    .game-board();
    pointer-events: none;
}

.game-board-hide {
    .game-board-block();
    opacity: 0;
}

.game-board-tile {
    background-color: #333;
    width: @tile-dimension;
    height: @tile-dimension;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color @quick-animation-duration ease-in-out;
}

.game-board-tile-white {
    .game-board-tile();
    color: @black-tile-color;
    background-color: @white-tile-color;

    &:active {
        background-color: @black-tile-color;
    }
}

.game-board-tile-white-highlighted {
    .game-board-tile-white();
    background-color: @white-tile-color-highlight;
}

.game-board-tile-black {
    .game-board-tile();
    color: @white-tile-color;
    background-color: @black-tile-color;

    &:active {
        background-color: @white-tile-color;
    }
}

.game-board-tile-black-highlighted {
    .game-board-tile-black();
    background-color: @black-tile-color-highlight;
}

.game-piece {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: @tile-dimension;
    height: @tile-dimension;
}

@media screen and (max-width: 660px) {
    .game-board {
        .game-board();
        width: @game-board-dimension-mobile;
        height: @game-board-dimension-mobile;
    }

    .game-board-hide {
        .game-board-hide();
        width: @game-board-dimension-mobile;
        height: @game-board-dimension-mobile;
    }

    .game-board-block {
        .game-board-block();
        width: @game-board-dimension-mobile;
        height: @game-board-dimension-mobile;
    }

    .game-board-tile-black {
        .game-board-tile-black();
        width: @tile-dimension-mobile;
        height: @tile-dimension-mobile;
    }

    .game-board-tile-white {
        .game-board-tile-white();
        width: @tile-dimension-mobile;
        height: @tile-dimension-mobile;
    }

    .game-board-tile-black-highlighted {
        .game-board-tile-black-highlighted();
        width: @tile-dimension-mobile;
        height: @tile-dimension-mobile;
    }

    .game-board-tile-white-highlighted {
        .game-board-tile-white-highlighted();
        width: @tile-dimension-mobile;
        height: @tile-dimension-mobile;
    }

    .game-piece {
        .game-piece();
        width: @tile-dimension-mobile;
        height: @tile-dimension-mobile;
    }
}
