@game-field-color: white;

.game-field {
    background-color: @game-field-color;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-field-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 @padding;
    box-sizing: border-box;
    border-radius: @button-border-radius;
    cursor: pointer;
    position: fixed;
    bottom: @item-double-padding;
    font-size: @font-size-big;
    letter-spacing: @font-spacing;
    font-weight: @font-weight-title;
    text-align: center;
    transition: background-color @quick-animation-duration ease-in-out;
    transition: color @quick-animation-duration ease-in-out;
}

@media screen and (max-width: 660px) {
    .game-field-label {
        .game-field-label();
        width: @menu-width-mobile;
        font-size: @font-size;
    }
}
