// Menu
.menu-container {
    width: @menu-width;
    height: @menu-height;
    max-height: @menu-width;
    position: fixed;
    background-color: @menu-color;
    opacity: 1;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: @item-border-radius;
    transition: all @normal-animation-duration ease-in-out;
    bottom: @menu-bottom-offset;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu-content {
    padding: @padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.menu-container-hidden {
    .menu-container();
    opacity: 0;
    pointer-events: none;
    bottom: calc(-@menu-height);
}

.menu-close {
    display: flex;
    justify-content: flex-end;
    padding: @padding;
    cursor: pointer;
    letter-spacing: @font-spacing;
    font-size: @font-size;
    font-weight: @font-weight-title;
}

.menu-row {
    padding: @half-padding 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.menu-button {
    font-size: @font-size;
    text-align: center;
    color: white;
    background-color: black;
    padding: @padding;
    cursor: pointer;
    border-radius: @button-border-radius;
    transition: background-color @quick-animation-duration ease-in-out;

    &:hover {
        background-color: @button-highlight;
    }
}

.menu-title {
    font-size: @font-size-big-title;
    letter-spacing: @font-spacing;
    font-weight: @font-weight-title;
    text-align: center;
    margin: @padding;
    margin-bottom: @double-padding;
    padding: @padding;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: @item-border-radius;
}

// Status
.status-container {
    width: @menu-width;
    position: fixed;
    top: @item-double-padding;
    font-size: @font-size-big;
    letter-spacing: @font-spacing;
    font-weight: @font-weight;
    text-align: center;
}

@media screen and (max-width: 660px) {
    .menu-container {
        .menu-container();
        width: @menu-width-mobile;
        max-height: @menu-width-mobile;
    }

    .menu-container-hidden {
        .menu-container-hidden();
        width: @menu-width-mobile;
        max-height: @menu-width-mobile;
    }

    .menu-title {
        .menu-title();
        font-size: @font-size-big;
    }

    .status-container {
        .status-container();
        width: @menu-width-mobile;
        font-size: @font-size;
    }
}
