// Generic
@quick-animation-duration: 100ms;
@normal-animation-duration: 500ms;

// Game elements
@game-board-dimension: 640px;
@game-board-dimension-mobile: 316px;
@game-board-border-radius: 10px;
@tile-dimension: calc(@game-board-dimension / 8);
@tile-dimension-mobile: calc(@game-board-dimension-mobile / 8);

@black-tile-color: black;
@black-tile-color-highlight: #0d45ff;
@white-tile-color: white;
@white-tile-color-highlight: #ff1f8f;
@button-highlight: @white-tile-color-highlight;

// UI
@item-padding: 10px;
@item-double-padding: calc(@item-padding * 2);
@item-border-radius: 10px;
@button-border-radius: 2px;

@padding: 8px;
@half-padding: calc(@padding / 2);
@double-padding: calc(@padding * 2);

@menu-height: 40vh;
@menu-width: calc(@game-board-dimension - (@item-padding * 2));
@menu-width-mobile: calc(@game-board-dimension-mobile - (@item-padding * 2));
@menu-bottom-offset: calc((100vh - @menu-height) / 2);
@menu-color: white;

@font-size-big: 32px;
@font-size-big-title: 42px;
@font-size: 18px;
@font-weight: 200;
@font-weight-title: 400;
@font-spacing: 2px;
